body
{
    height: 100vh;
    background-color: black;

}
.log-container
{
    
}
.logo
{
    width: 10%;
}
.openHours
{
    background-color: #2e2e2e;
}
.shopCart
{
    width: 99%;
}
#continueLink:hover
{
    color: white;
}
#continueLink,#orderButton
{
    font-size: 100%;
}
@media(min-width: 2901px)
{
    #footerSpan,#year,input,a,p,.btn
    {
        font-size: 350%;
    }
}
@media (min-width: 2201px) and (max-width: 2900px)
{
    #footerSpan,#year,input,a,p,.btn
    {
        font-size: 250%;
    }
}
@media (min-width: 801px) and (max-width: 2200px )
{
    #footerSpan,#year,input,a,p,.btn
    {
        font-size: 150%;
    }
}
@media (mix-width:401px) and (max-width: 800px)
{
    #footerSpan,#year,input,a,p,.btn
    {
        font-size: 50%;
    }
}
@media(max-width: 400px)
{
    #footerSpan,#year,input,a,p,.btn
    {
        font-size: 25%;
    }
}




